body{
    background-color: #134AB3;
    margin: 35px;
    padding: 0;
    border: 0;
    color: #FFFFFF;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 1.3em;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

button, .button{
    background-color: #7AAEDE;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    padding:10px 30px;
    font-weight: bold;
    font-size: large;
}
/* nav section */
.navsec{
    position: fixed;
    width: 99%;
    background-color: #134AB3;
    padding: 0;
    margin-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #4369B3;
    border-radius: 5em;
    align-items: center;
    width: 94.5%;
    padding: 10px;

}

.navbar .menu-btn{
    display: none;
}
.brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.brand h1{
    font-size: 1.6em;
    margin:0 0 0 10px;
}
.navlinks{
    display: flex;
    justify-content: space-between;
}
.navlinks a{
    margin:0 50px;
}

.navbtn{
    margin-right: 10px;
}



/* home */
#home{
    display: flex;
    justify-content: space-between;
}
b{
    color: #051749;
}
.home{
    /* background-image: url("/imgs/Homebg.svg"); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    min-height: 100vh;
    margin: -35px 0;
}
.homeTxt{
    padding-top: 110px;
    font-size: 2.3em;
    /* word-spacing: 0.1em; */
    width: 100%;
}
.homeTxt h4{
    margin-bottom: -50px;
}
.homeTxt h1{
    font-size: 2em;
    margin-bottom: 30px;
}
.homeTxt p{
    font-size: 0.54em;
    font-weight: lighter;
}

/* end of home */


/* service */
#service{
    /* background-image: url(/imgs/servicebg.svg); */
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    text-align: center;
    /* width: 150%; */
    border: -400px;
}
#service h3{
    color: #051749;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 0.2ch;
    padding-top: 45px;
}
#service h1{
    margin-top:-20px;
    font-size: 2.5em;
}
.serv{
    display: flex;
    justify-content: space-between;
}
.serv img{
    width: 80px;
    height: 80px;
}
.serv .app, .web{
    margin:-70px 40px;
}
.serv .ui{
    margin-top: 80px;
}

/* end of service */

/* about */
#about{
    display: flex;
    padding: 50px 0;
    align-items: center;
    margin-top: -30px;
}
#about img{
    max-height: 100vh;
}
.abtText h3{
    color: #051749;
    font-size: xx-large;
    margin-bottom: -30px;
}
#about .abtText{
    margin: 50px;
    font-size: 2em;
}
.abtText h1{
    letter-spacing: 0.1em;
    margin-bottom: -10px;
}
.abtText p{
    font-size: 0.6em;
}


/* end of about */

/* get started */
#getStarted{
    background-color: #4369B3;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 65vh;
}
#getStarted h3{
    color: #051749;
    font-size: xx-large;
    margin-bottom: -30px;
}

.getStdText h1{
    font-size: 2.9em;
    margin-bottom: -10px;
    word-spacing: 0.1em;
}
.getStdText p{
    font-size: 1.2em;
}


/* end of get started */

/* team */
#team{
    /* background-image: url(/imgs/Artboard\ –\ 2.svg); */
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}
#team h1{
    font-size: 3em;
    text-align: center;
}

/* End of team */
/* question */
.question{
    /* background-image: url(/imgs/question.svg); */
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    padding-left:30%;
}
#email{
    border-radius: 50px;
    width: 40%;
    min-height: 5vh;
    padding: 5px;
    font-size: 1em;
    color: #051749;
}
#question h1{
    padding-top: 100px;
    font-size: 3em;
}


/* end of question */

/* footer */
#footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
.col2{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.col2 ul{
    list-style: none;
    line-height: 1.7em;
}

.brand2{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.brand2 h1{
    font-size: 1.6em;
    margin:0 0 0 10px;
}

.footer-links a{
    align-content: center;
    align-items: center;
    color: #051749;
    margin: 5px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form{
    width: 50%;
}
.form #email{
    width: 70%;
    min-height: 4vh;
    font-size: 1em;
}
form .button {
    cursor: pointer;
}
/* end of footer */
@media(max-width:990px) {
    body{
        margin: 3px;
        font-size: 0.7em;
    }
    .navbar{
        width: 80%;
        margin-top:30px;
    }
    .brand h1{
        font-size: 1em;
        margin-left: 3px;
    }
    .brand img{
        width: 25px;
    }
    .navlinks{
        display: none;
    }
    .navbtn{
        display: none;
    }
    .home{
        min-height: 60vh;
        background-position: center;
        color:#FFFFFF;
    }
    .homeTxt h1{
        margin-top: 50px;
        margin-bottom: 30px;
        color: #FFFFFF;
    }

    b{
        color: #FFFFFF;
    }
    .app, .web, .ui{
        margin: 0px;
    }
    .homeTxt{
        font-size: 1.5em;
        padding-top: 100px;
        text-align: center;
    }
    #about .aboutImg, .getStdImg{
        display: none;
    }
    #service .serv{
        /* padding-top: 5000px; */
        display: inline;
        background-position: cover;
    }
    #service{
        min-height: 125vh;
    }
    #service h1{
        margin-bottom: 100px;
    }
    #footer{
        display: block;
    }
    .footer{
        display: block;
    }
    /* about */
    #about{
        display: block;
    }
    #about .abtText{
        margin: 10px;
        text-align: center;
    }

    /* end of about */
    /* getStarted */
    #getStarted{
        display: block;
        text-align: center;
        padding: 10px 20px;
        min-height: auto;
    }

    /* end of getStarted */
    /* question */
    #question{
        text-align: center;
    }

    #email{
        width: 80%;
        font-size: 1em;
        margin: 10px;
    }
    .question{
        padding: 20px;
        min-height: 0vh;
    }
    #question h1 {
        padding-top: 10px;
    }

    /* end of question */

    /* footer */
    #footer{
        padding: 10px;
    }

    .form{
        width: 120%;
    }
}
@media(max-width:1100px) {
    .navbar .navlinks{
        display: none;
        position: absolute;
        top: 109px;
        left: 0px;
        background-color: #051749;
        border-bottom: 4px solid #134AB3;
        width: 91.5%;
        padding: 20px;
        line-height: 1.5em;
        margin: 5px;
    }
    .navlinks div:hover{
        background-color: #134AB3;
    }
    .navlinks div{
        width: 100%;
    }
    .navbar .navlinks div a{
        width: 94.5px;
        height: 20px;
        align-items: center;
        margin: 0px;
        border: 1px solid #7AAEDE ;
    }
    .navbar .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    .navbar .menu-icon .nav-icon{
        background-color: #FFFFFF;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    .navbar .menu-icon .nav-icon:before,
    .navbar .menu-icon .nav-icon:after{
        background: #FFFFFF;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    .navbar .menu-icon .nav-icon:before{
        top: 5px;
    }
    .navbar .menu-icon .nav-icon:after{
        top: -5px;
    }
    .navbar .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    .navbar .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    .navbar .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    .navbar .menu-btn{
        display: none;
    }
    .navbar .menu-btn:checked ~ .navlinks{
        display: block;
    }
}
@media(max-width: 768px){
    body{
        margin: 10px;
        font-size: 1.5em;
    }
    .brand{
        font-size: 1em;
        padding: 10px;
    }
    .navbar{
        width: 96%;
        font-size: 1em;
    }
    .homeTxt{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .col2 div{
        margin: 20px 30px;
    }
    .form{
        width: 90%;
    }
}
/* @media(width: 1010px){
    body{
        margin: 30px;
    }
    .home{
        min-height: 50vh;
    }
    .homeTxt{
        margin-top: 20px;
    }
    .navbar{
        width: 94.5%;
    }
    .navlinks a{
        padding: -10px;
    }
    .navlinks{
        margin: -9px;
    }
    .brand{
        margin-right: -12px;
    }
    #question input[type="email"]{
        width: 65%;
    }
    input[type="submit"]{
        padding: 22px;
        border-radius: 50px;
        width: 25%;
    }
    #service{
        min-height: 60vh;
    }
    .question{
        background-position: center;
        background-size: cover;
        min-height: 50vh;
    }

} */
