{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Wizard Of Code</title>
</head>
<!--  -->
<body>
    <section class="home" style="background-image: url('{% static 'imgs/Homebg.svg' %}');" >
        <div class="navsec">
        <div class="navbar">
            <div class="brand"><img src="{% static 'imgs/NoPath - Copy.svg' %}" alt="" width="40px" height="40px"><h1>WizCode</h1></div>
            <div class="navlinks">
                <div><a href="#home">Home</a></div>
                <div><a href="#service">Service</a></div>
                <div><a href="#getStarted">Projects</a></div>
                <div><a href="#footer">Contact</a></div>
            </div>
            <div class="navbtn">
                <button><a href="">Login</a></button>
            </div>
        </div>
        </div>
        <div id="home">
            <div class="homeTxt">
                <h4>We Are</h4>
                <h1><b>Wiz</b>ards of <b>Code</b></h1>
                <p>We are creative, we are extraordinary, we are result-oriented and<br>
                    we are driven by innovation.</p>
                <button><a href="">Get Started</a></button>
            </div>
        </div>

    </section>
    <section id="service" style="background-image: url('{% static 'imgs/servicebg.svg' %}');">
        <h3>WHAT WE DO</h3>
        <h1>We provide the best<br><b>Solution</b> for you</h1>
        <div class="serv">
            <div class="app">
                <img src="{% static 'imgs/Group 7.svg' %}" alt="">
                <h2>App Development</h2>
                <p>We are creative and innovative in integrating <br>
                    artificial intelligence into mobile applications.</p>
            </div>
            <div class="ui">
                <img src="{% static 'imgs/Group 10.svg' %}" alt="">
                <h2>UI/UX Design</h2>
                <p>It is a fact that a user will be distracted by readable<br>
                    page content when looking at a page layout.</p>
            </div>
            <div class="web">
                <img src="{% static 'imgs/Group 17.svg' %}" alt="">
                <h2>Web App Development</h2>
                <p>We are creative and innovative in creating<br>
                    fully-functional web applications</p>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="aboutImg"><img src="{% static 'imgs/Group 27.svg' %}" alt="" width="510px"></div>
        <div class="abtText">
            <h3>WHO WE ARE</h3>
            <h1>We are Tech Wizards<br>Since <b>2020</b></h1>
            <p>We are creative, we are extraordinary, we are result-oriented <br>
                and we are driven by innovation.</p>
            <button><a href="">Learn More</a></button>
        </div>
    </section>
    <section id="getStarted">
        <div class="getStdText">
            <h3>HOW CAN WE HELP</h3>
            <h1>We help Create your<br>
                <b>Business</b> Change</h1>
            <p>We are creative, we are extraordinary, we<br>
                are result-oriented and we are driven by<br>
                innovation.</p>
            <button><a href="">Get Started</a></button>
        </div>
        <div class="getStdImg"><img src="{% static 'imgs/Group 44.svg' %}" alt="" width="550px"></div>
    </section>
    <!-- <section id="custReview">
        <h1 align="center"><b>We work with businesses from <br>
            around the world on branding, website <br>
            digital marketing projects.
            </b></h1>
    </section> -->
    <section id="team" style="background-image: url('{% static 'imgs/Artboard\ –\ 2.svg' %}');">
        <h1><b>Our Team</b></h1>
        <div></div>
        <div></div>
        <div></div>
    </section>

    <section id="question" >
        <div class="question" style="background-image: url('{% static 'imgs/question.svg' %}');">
        <h1><b>Have a question in mind?</b></h1>
        <h2><b>Let's Talk About your Business and Project.</b></h2>
        <form action="" method="get">
            <input type="email" name="" id="email" placeholder="Enter Email">
            <input type="submit" value="Let's Talk" class="button">
        </form>
        </div>
    </section>
    <section id="footer">
        <div class="col1">
            <div class="brand2"><img src="{% static 'imgs/NoPath - Copy.svg' %}" alt="" width="40px" height="40px"><h1>WizCode</h1></div>
            <p>We are creative, we are extraordinary, we<br>
                are result-oriented and we are driven by<br>
                innovation.</p>
        </div>
        <div class="col2">
            <div class="subcol2">
                <h1>Company</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Projects</a></li>
                </ul>
            </div>
            <div>
                <h1>Support</h1>
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Sitemaps</a></li>
                </ul>
            </div>
            <div>
                <h1>Contacts</h1>
                <ul>
                    <li><a href=""><b>Phone:</b> +234 7067 6021 93</a></li>
                    <li><a href=""><b>Email:</b> wizcode@gmail.com                    </a></li>
                    <li><a href=""><b>Office:</b> No 06, Adigun, Muslim,<br>
                        Ibadan.</a></li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="footer-links">
                <a href=""><img src="{% static 'imgs/facebook-f.svg' %}" alt="" width="15px" height="15px"> Facebook</a>
                <a href=""><img src="{% static 'imgs/twitter.svg' %}" alt="" width="15px" height="15px"> Twitter</a>
                <a href=""><img src="{% static 'imgs/instagram.svg' %}" alt="" width="15px" height="15px"> Instagram</a>
                <a href=""><img src="{% static 'imgs/linkedin-in.svg' %}" alt="" width="15px" height="15px"> LinkedIn</a>
            </div>
            <div class="form">
                <form action="" method="get">
                    <input type="email" name="" id="email" placeholder=" Enter Email">
                    <input type="submit" value="Subscribe" class="button">
                </form>
            </div>
        </div>
        <p align="center"><b>Copyright &copy; 2022</b> wizCode. <b>All right reserved</b></p>
    </footer>
</body>
</html>