{% extends 'base.html'%}
{%load static%}
{% block content %}
<div class="" align="center" style="width:100%; padding-top:100px; text-align:center;">
    <h1 align="center">Registration</h1>
    <form action="register" method="POST" style="text-align: center;">
        {% crsf_token %}
        <div>
            <label for="firstName">First name</label><br>
            <input type="text" name="firstName" id="email"><br><br>
            <label for="lastName">Last name</label><br>
            <input type="text" name="lastName" id="email"><br><br>
            <label for="email">Email</label><br>
            <input type="email" name="" id="email"><br><br>
            <label for="gitHub">GitHub Portfolio</label><br>
            <input type="text" name="gitHub" id="email"><br><br>
            <label for="userName">User Name</label><br>
            <input type="text" name="userName" id="email"><br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="email"><br><br>
            <label for="confirmPwd">Confirm Password</label><br>
            <input type="password" name="confirmPwd" id="email"><br><br><br>
        </div>
        <input type="submit" value="Register" id="" class="button">

    </form>
</div>
<style>
    input{
        text-align: center;
    }
</style>
{% endblock %}