{% extends 'base.html'%}
{%load static%}


{% block title%}
WizCode-Registration Page
{% endblock%}


{% block content%}
{%load crispy_forms_tags %}

    <div class="regForm">
        <h1>Register</h1>
        <form action="register" method="POST" >
            {% csrf_token%}
            {{ register_form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p class="text-center">If you already have an account, <a href="" style="color:#051749;">Login</a> instead.</p>
    </div>
    <style>
        .regForm{
            background-image:url({% static 'imgs/Homebg.svg' %});
            font-size: 0.75em;
            padding-left: 30px;
            background-size:cover;
            background-position:center;
            line-height: 1.5em;
        }
        .regForm h1{
            padding-top: 109px;
            font-weight: 650;
            font-size: 2.5em;
        }
        .regForm label{
            font-size: 1.5em;
            font-weight: 600;
        }
        .regForm input{
            display: block;
            width: 60%;
            min-height: 4vh;
            font-size: 1em;
        }
        .navbar{
            width:90%;
            margin-top:10px;
        }
        .navsec{
            width:80%;
        }
    </style>


{% endblock %}

